@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NunitoSans;
  src: url(./assets/fonts/NunitoSans.ttf);
}

body {
  font-family: NunitoSans;
}

.inputs {
  @apply dark:bg-darkBlue text-sm dark:text-white text-darkBlueLightText rounded-md outline-none p-4 my-4 transition-colors duration-500;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}
